
/* added this body to remove horizontal and vertical scrolling */

body{
    margin: 0px;
    height: 100vh;
}
.container {
    width: 100vw;
    /*added max-width to remove horizontal scrollbar*/
    /* max-width: 100%; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(226, 242, 226, .5);
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height:400px;
    min-height: 280px;
    max-width: 400px;
    min-width: 300px;
    width: 33%;
    /*height: 50vh;
    min-height: 30rem;
    max-height: 40rem;
    min-width: 500px;*/
    height: 55%;
    background-color: #f7f7f7;
    border-style: solid;
    border-color: rgb(120, 123, 113, .1);
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgb(228, 225, 225);
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}
/* the follow only affects input type with text and password but not checkbox */
input[type=text], input[type=password] {
    display: flex;
    align-self: center;
    border: 0px;
    padding: 5px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 50%;
    background-color: rgba(255, 255, 255, 1);
}
.forgot-password, .remember, h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding-top: 5px;
}
.remember {
    font-family: 'Courier New', Courier, monospace;
}
a:hover {
    color:royalblue;
}

.login-btn {
    color:#f7f7f7;
    font-family:'Courier New', Courier, monospace;
    width: 54%;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(17, 26, 27, .45);
    transition:  0.5s linear;  /*slowly transitions back after hovering*/
}
/*changes the login button when hovering
adds a drop shadow and transitions into scaling up*/
.login-btn:hover {
    background-color: rgba(84, 149, 84, 0.4);
    color: black;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: scale(1.1);
    transition: .5s;
}